<div class="container">
    <div class="row">
        <div class="col-12 py-4" 
            infiniteScroll 
            [immediateCheck]="true"
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="50"
            (scrolled)="onBottomScrollReached()">
            <div class="card rounded mb-4 shadow-sm" *ngFor="let item of cardsList">
                <div class="pb-5 pb-md-3">
                    <div class="px-3 pb-4 d-flex">
                        <button class="btn btn-info p-3 mr-2 mt-n3">
                            <i class="bi bi-lightbulb"></i>
                        </button>
                        <button class="btn p-2 mr-2">
                            <i class="bi bi-clipboard-fill"></i>
                        </button>
                    </div>
                    <div class="px-4 d-flex flex-column flex-md-row mb-md-2">
                        <div class="col-12 col-md-4 px-0 mx-0">
                            <img [src]="item.image || '/assets/images/card-placeholder-image.png'" alt="" class="img-fluid rounded shadow">
                            <!-- TODO: Implement through pipe -->
                        </div>
                        <div class="col-12 col-md-8 px-0 px-0 d-flex flex-column-reverse flex-md-row">
                            <div class="col-12 col-md-6">
                                <p class="py-md-4 font-weight-bold text-center text-md-left mb-4 mb-md-0">
                                    {{ item.summary }}
                                </p>
                            </div>
                            <div class="col-12 col-md-6 pr-0 text-center text-md-right mb-3 mb-md-0">
                                <p class="mb-0">
                                    <span class="text-muted d-none d-md-inline-block">Posted </span>
                                    <a href="#" class="font-weight-bold">{{ item.creator.anonymous ? 'Anonymous user' : item.creator.user.name }}</a>
                                    <span>
                                        <ng-container *ngFor="let star of getCreatorRate(item)">
                                            <i *ngIf="star" class="text-warning bi bi-star-fill"></i>
                                            <i *ngIf="!star" class="text-warning bi bi-star"></i>
                                        </ng-container>
                                    </span>
                                    <span class="text-muted">
                                        ({{ item.creator.opinions }})
                                    </span>
                                </p>
                                <p class="mb-0">
                                    <i class="mr-1 bi bi-calendar-week"></i>
                                    <span class="text-muted">
                                        {{ item.createdAt | date:'medium' }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 d-flex">
                        <div class="col-12 col-md-4 mx-0 px-0 d-flex flex-column-reverse flex-md-row justify-content-end">
                            <!-- ! Better with justify-content-between -->
                            <div class="mr-md-3">
                                <small class="d-block font-weight-bold text-center text-md-left">
                                    Assignees
                                </small>
                                <small class="d-block mb-0 text-center text-md-left">
                                    <a href="#" class="font-weight-bold">Assignees</a>
                                </small>
                            </div>
                            <div class="mr-md-3">
                                <small class="d-block font-weight-bold text-center text-md-left">
                                    Workflow
                                    <i class="ml-1 bi bi-pencil-fill"></i>
                                </small>
                                <small class="d-block mb-0 text-center text-md-left">
                                    <a href="#" class="font-weight-bold">{{ item.workflow.name }}</a>
                                </small>
                            </div>
                            <div>
                                <small class="d-block font-weight-bold text-center text-md-left">
                                    Review score
                                </small>
                                <small class="d-block mb-0 text-center text-md-left">
                                    <a href="#" class="badge badge-pill badge-warning text-light font-weight-bold">...</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>